[Unit]
Description=Check Wired Wombat Connection
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
ExecStart=/home/kipr/wombat-os/configFiles/checkWombatWiredConnection_temp.sh
Restart=always
User=root
Group=kipr
RestartSec=5

[Install]
WantedBy=multi-user.target
