[Unit]
Description=Check Wired Wombat Connection
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
ExecStart=/home/kipr/wombat-os/configFiles/checkWombatWiredConnect_temp.sh
Restart=always
User=root
Group=kipr

[Install]
WantedBy=multi-user.target
