[Unit]
Description=Create3 Server

[Service]
ExecStart=/home/kipr/wombat-os/configFiles/start_create3_server.sh'
ExecStop=sudo podman stop -t 10 create3_server

[Install]
WantedBy=multi-user.target
