[Unit]
Description=Create3 Server
After=podman.service
Requires=podman.service

[Service]
Type=forking
ExecStart=/home/kipr/wombat-os/configFiles/create3_server.sh start
ExecStop=/home/kipr/wombat-os/configFiles/create3_server.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target